$border: 1px solid #999
nav
    display: flex
    flex-direction: row
    width: 100%

    .item
        padding: 15px 20px
        width: auto
        flex-grow: 1
        border: $border
        border-left: none
        text-align: center
        &:first-child
            border-left: $border
        
        a
            color: #000
            text-decoration: none
            cursor: pointer
            &[class='chosen']
                font-weight: bold
                cursor: default
    
    .chosen
        border-bottom: none
